// 项目提供scss全局变量
// 定义项目主体颜色
$color: red;
// 定义背景
$backound: "https://img1.baidu.com/it/u=15593885,222180136&fm=253&fmt=auto&app=120&f=JPEG?w=1280&h=800";

// 定义项目背景颜色
$background-color: rgba(255, 255, 255, 0.2);
$btn-color:#05418a;

$backound-window:#323644;

// chat  主页的大窗口的高度
$home-window-height:83vh;
$home-window-width:80vw;

// 布局
// 左侧的菜单宽度   
$base-menu-width:260px;
// 左侧菜单的背景颜色
$base-menu-background:#001529;
$base-menu-min-width:50px;

// 顶部导航栏的高度
$base-tabber-height:50px;

// 左侧菜单logo高度设置
$base-menu-logo-height:50px;

// 左侧菜单logo右侧文字大小
$base-logo-title-fontSize:20px;
